@use "sass:color";
@use "variables" as v;

/** Media Queries **/
@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin button($background-color, $text) {
  background-color: $background-color;
  font-size: 2rem;
  padding: 1.2rem 4rem;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
  color: $text;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: color.adjust($background-color, $lightness: -10%);
  }

  @include tablet {
    width: auto;
    display: inline-block;
  }
}

@mixin grid($columns, $spacing) {
  display: grid;
  gap: $spacing;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin bg-image($url, $gradient-color) {
  background-image: linear-gradient($gradient-color 0%, $gradient-color 100%),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@mixin heading-border($text-color, $line-color) {
  font-size: 3.6rem;
  display: inline-block;
  margin-top: 5rem;
  color: $text-color;

  @include tablet {
    margin-top: 0;
  }

  &::after {
    content: "";
    background-color: $line-color;
    height: 1rem;
    width: calc(100% + 1rem);
    display: block;
    margin: -1.4rem 0 0;
  }
}
